__pycache__/
*.pyc
uploads/
results/
logs/
setup_screenshots/
.git/
.DS_Store
netMHCpan-4.2/
ng_tc1-0.1.5-beta/
*.tar
*.tar.gz
*.tgz
*.zip
*.sha256
*.md5
plan.md
proposal.md
integrated_output.md
immunStruct.md
advanced_features_plan
PM_Cancer.md
docs/
doc/
DOC/
netMHCpan-4.2_license.txt
